{
  // presets 预设：就是一组 Babel 插件, 扩展 Babel 功能。
  //   @babel/preset-env: 一个智能预设，允许使用最新的 JavaScript。
  //   @babel/preset-react：一个用来编译 React jsx 语法的预设。
  //   @babel/preset-typescript：一个用来编译 TypeScript 语法的预设。 
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/transform-runtime",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": "css" // `style: true` 会加载 less 文件
      }
    ]
  ]
}
